.jquery-mapper-container {
    min-height: 100%;
    position: relative;
    min-height: $container-height;
    max-width: $container-max-width;
    margin: auto;
    font-family: $font-family !important;
    .jquery-mapper-map {
        height: 100%;
    }
}