.jquery-mapper-container.jquery-mapper-container-locations {
    position: relative;
    height: $container-height;
    min-width: $container-min-width;
    margin: auto;
    .jquery-mapper-map {
        height: 100%;
        max-width: 67%;
        width: 100%;
        display: inline-flex;
    }
    .jquery-mapper-controls {
        height: 100%;
        max-width: 33%;
        width: 100%;
        display: inline-flex;
        vertical-align: top;
        div.location-item {
            display: block;
            min-height: 55px;
            .title {
                font-weight: bold;
                text-align: $title-align;
            }
        }
    }
}