// Locations.
$title-align: left;
$title-size: 18px;
$location-item-default-colour: rgba(0,0,0,0.02);
$location-item-active-colour: rgba(0,255,0,0.02);
$location-item-hover-colour: rgba(0,0,0,0.1);
$location-item-meta-colour: #666;
$location-item-meta-size: 14px;
$location-item-icon: '../images/pin.svg';

// Global.
$container-height: 500px;
$container-min-width: 300px;
$container-max-width: 1200px;
$font-family: arial;